{% extends 'base.html' %}

{% block title %}
<title>Добавление товара</title>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal text-body-emphasis">Добавление товара</h1>
        </div>
    </div>
    <form method="post">
        <input type="text" class="form-control" name="title" id="title" placeholder="Введите название"><br>
        <input type="number" class="form-control" name="price" id="price" placeholder="Введите цену"><br>
        <button class="btn btn-success" type="submit">Добавить</button>
    </form>

{% endblock %}